@page
@model IndexModel
@inject Services.UrlQueryService UrlQueryService

@{
    ViewData["Title"] = "Index";
    var query = Model.ExteralApplicationQuery;
    UrlQueryService.DefaultSortDirection = Services.SortDirection.Descending;
    UrlQueryService.RowsPerPage = 10;
    var pageUrlContext = UrlQueryService.GetPageUrlContext(query);
    var pageItems = UrlQueryService.PageRows(query);
    var pagerContext = pageUrlContext.GetPagerContext();
    var displayNameEntity = new VetCoin.Data.ExtApp.ExteralApplication();
}

<h1>Index</h1>

@*<form class="form-inline" method="get">
    <div class="form-group mb-2">
        <input type="text" class="form-control" asp-for="SearchKey" placeholder="検索">
    </div>
    <button type="submit" class="btn btn-primary mb-2">検索</button>
</form>*@
<p>
    <a asp-page="Create">Create New</a>
</p>
<partial name="PageNavi" model="pagerContext" />
<table class="table">
    <thead>
        <tr>
            <th>
                <a href="@pageUrlContext.GetSortUrlFor(s=>s.Name)">
                    @Html.DisplayNameFor(model => displayNameEntity.Name)
                </a>
            </th>
            <th>
                <a href="@pageUrlContext.GetSortUrlFor(s=>s.CallbackUrl)">
                    @Html.DisplayNameFor(model => displayNameEntity.CallbackUrl)
                </a>
            </th>
            <th>
                <a href="@pageUrlContext.GetSortUrlFor(s=>s.VetMember)">
                   @Html.DisplayNameFor(model => displayNameEntity.VetMember)
                </a>
            </th>
            <th>
                <a href="@pageUrlContext.GetSortUrlFor(s=>s.IsNotification)">
                    @Html.DisplayNameFor(model => displayNameEntity.IsNotification)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in pageItems) 
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CallbackUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VetMember.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNotification)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="PageNavi" model="pagerContext" />
