@page
@model IndexModel
@inject Services.UrlQueryService UrlQueryService
@inject Data.ApplicationDbContext DbContext
@inject Codes.SiteContext SiteContext
@inject Services.StaticSettings StaticSettings

@{
    ViewBag.HostBlazor = true;

    ViewData["Title"] = "Index";
    var query = Model.VenderQuery.OrderByDescending(c => c.CreateDate);
    UrlQueryService.DefaultSortDirection = Services.SortDirection.Descending;
    UrlQueryService.RowsPerPage = 10;
    var pageUrlContext = UrlQueryService.GetPageUrlContext(query);
    var pageItems = UrlQueryService.PageRows(query);
    var pagerContext = pageUrlContext.GetPagerContext();
    var displayNameEntity = new VetCoin.Data.VenerEntityes.Vender();

    var ids = pageItems.Select(c => c.Id);

    var countDic = DbContext.Venders
.AsQueryable()
.Where(c => ids.Contains(c.Id))
.Select(c => new
{
    Id = c.Id,
    //Message = c.TradeMessages.Count(),
    //Suggestion = c.Contracts.Count(c => c.ContractStatus == Data.ContractStatus.Suggestion),

    VoteCount = c.VenderLikeVotes.Count(),
    IsVoted = c.VenderLikeVotes.Any(c => c.VetMemberId == Model.UserContext.CurrentUser.Id)
}).ToDictionary(c => c.Id);

}
<div class="row">
    <div class="col-9">
        <h1>販売所</h1>
        <p>商品の単純販売はこちら！</p>
    </div>
    <div class="col-3">
        <p>
            <a asp-page="Create" class="btn btn-primary btn-lg">販売所作成</a>
        </p>
    </div>
</div>
@*<form class="form-inline" method="get">
        <div class="form-group mb-2">
            <input type="text" class="form-control" asp-for="SearchKey" placeholder="検索">
        </div>
        <button type="submit" class="btn btn-primary mb-2">検索</button>
    </form>*@

<partial name="PageNavi" model="pagerContext" />
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                <a href="@pageUrlContext.GetSortUrlFor(s=>s.Title)">
                    @Html.DisplayNameFor(model => displayNameEntity.Title)
                </a>
            </th>
            <th>
                <a href="@pageUrlContext.GetSortUrlFor(s=>s.DefaultAmount)">
                    @Html.DisplayNameFor(model => displayNameEntity.DefaultAmount)
                </a>
            </th>
            <th></th>
            <th>
                <a href="@pageUrlContext.GetSortUrlFor(s=>s.VetMember)">
                    @Html.DisplayNameFor(model => displayNameEntity.VetMember)
                </a>
            </th>

            <th>
                <a href="@pageUrlContext.GetSortUrlFor(s=>s.CreateDate)">
                    @Html.DisplayNameFor(model => displayNameEntity.CreateDate)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in pageItems)
        {
            var countInfo = countDic[item.Id];
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary">
                        確認
                    </a>
                </td>

                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DefaultAmount) @StaticSettings.CurrenryUnit
                </td>
                <td>
                    <component type="typeof(VetCoinWasm.Pages.LikeVote)"
                               render-mode="WebAssemblyPrerendered"
                               param-IsVoted="countInfo.IsVoted"
                               param-TargetId="item.Id"
                               param-VoteCount="countInfo.VoteCount"
                               param-VoteTarget="@("Vender")" />
                </td>
                <td>
                    <partial name="MemberTag" model="item.VetMember" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>

            </tr>
        }
    </tbody>
</table>
<partial name="PageNavi" model="pagerContext" />
