@page
@model VetCoin.Pages.Donations.ReceiptModel
@{
}

<h3>支援一覧</h3>

<form method="post">
    <button type="submit" name="mode" value="reciptAll" class="btn btn-primary">すべて受領</button>
    <a asp-page="./details" asp-route-id="@Model.DonationId" class="btn btn-primary">戻る</a>
</form>
    <ul>
        <li>寄付の場合は、適宜すべて受領で大丈夫だと思います</li>
        <li>クラファンの場合は、内容達成後に受領することをおすすめします</li>
    </ul>


    <table class="table">
        <thead>
            <tr>
                <th>Member</th>
                <th>日時</th>
                <th>支援額</th>
                <th>メッセージ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doner in Model.Doners.OrderBy(c => c.CreateDate))
            {
                <tr>
                    <td>
                        <partial name="MemberTag" model="doner.VetMember" />
                    </td>
                    <td>
                        @Html.DisplayFor(c => doner.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(c => doner.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(c => doner.Comment)
                    </td>
                    <td>

                        @if (doner.DonerState == Data.DonerState.Entry)
                        {
                            <form method="post">
                                <input name="donerId" value="@doner.Id" type="hidden" />
                                <button type="submit" name="mode" value="recipt" class="btn btn-primary">受領</button>
                                <button type="submit" name="mode" value="cancel" class="btn btn-primary">キャンセル</button>
                            </form>
                        }
                        @if (doner.DonerState == Data.DonerState.Cancel)
                        {
                            <p>キャンセル</p>
                        }
                        @if (doner.DonerState == Data.DonerState.Repted)
                        {
                            <p>受領済み</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
