@page
@model MembersModel
@inject Services.UrlQueryService UrlQueryService

@{
    ViewData["Title"] = "Members";
    var query = Model.MemberInfoes;
    UrlQueryService.DefaultSortDirection = Services.SortDirection.Descending;
    UrlQueryService.RowsPerPage = 50;
    var pageUrlContext = UrlQueryService.GetPageUrlContext(query);
    var pageItems = UrlQueryService.PageRows(query);
    var pagerContext = pageUrlContext.GetPagerContext();
    var displayNameEntity = new VetCoin.Data.VetMember();
}

<h1>Members</h1>

<form class="form-inline" method="get">
    <div class="form-group mb-2">
        <input type="text" class="form-control" asp-for="SearchKey" placeholder="検索">
    </div>
    <button type="submit" class="btn btn-primary mb-2">検索</button>
</form>

<partial name="PageNavi" model="pagerContext" />
<table class="table">
    <thead>
        <tr>
            <th>
                <a href="@pageUrlContext.GetSortUrlFor(s=>s.Member.Name)">
                    @Html.DisplayNameFor(model => displayNameEntity.Name)
                </a>
            </th>
            <th>
                <a href="@pageUrlContext.GetSortUrlFor(s=>s.Amount)">
                    残高
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in pageItems) 
        {
        <tr>

            <td>
                <partial name="MemberTag" model="item.Member" />
            </td>
            <td>
                @Html.DisplayFor(c => item.Amount)
            </td>
            @*<td>
                @Html.DisplayFor(c => item.SendAmount)
            </td>
            <td>
                @Html.DisplayFor(c => item.ReciveAmount)
            </td>*@
            <td>
                <a asp-page="./Member" asp-route-Memberid="@item.Member.DiscordId" class="btn btn-primary">確認</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="PageNavi" model="pagerContext" />
