@inject Codes.SiteContext SiteContext
@inject Services.CoreService CoreService
@{
    var uc = CoreService.GetUserContext();
    var waitingContracts = await CoreService.EnumWaitingContracts(uc.CurrentUser);
    var hostBlazor = (ViewBag.HostBlazor as bool?) ?? false;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @SiteContext.SiteTitle</title>
    @if (hostBlazor)
    {
        <base href="/" />
        <link href="css/app.css" rel="stylesheet" />
    }

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://unpkg.com/vue"></script>
    <script src="~/VueWebComponents/vue.min.js" asp-append-version="true"></script>
    <link href="~/fa/css/all.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">@SiteContext.SiteTitle</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Trades/Index" asp-route-direction="Sell">商品・サービスを探す</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Trades/Index" asp-route-direction="Buy">お仕事を探す</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Donations/Index" asp-route-direction="Buy">寄付・クラファン</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Send">送金</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Members">メンバー検索</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Logs">ログ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/MyPage/Index">
                                マイページ
                                @if (waitingContracts.Count() != 0)
                                {
                                    <span class="badge badge-pill badge-danger">@waitingContracts.Count()</span>
                                }

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - @SiteContext.SiteTitle - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    @if (hostBlazor)
    {
        <script src="_framework/blazor.webassembly.js"></script>
    }
</body>
</html>
